body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
span {
    color:tomato;
}
h1 {
    font-size: 50px;
}
section {
    display: flex;
    margin-bottom: 150px;
}
.first-area {
    width: 50%;
    padding-left: 10px;
} 

.btn {
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color:#ffffff;
}
.top-banneer {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}
.top-banneer img {
    width: 73%;
    margin-left: 220px;
}
.second-area {
    width:100%;
    padding-right: 30px;
   
}
.second-area img {
    width: 100%;
}
.second-area-2 {
    margin-left: 115px;
}

